{% extends "layout.html" %}

{% block title %}
    Emails
{% endblock %}

{% block main %}
<h1 class="text-dark text-center p-3">Inbox</h1>

        <div class="mb-3">
            {% for email in emails %}
            <div class="list-group-item">
                <h6>Sender : {{ email.sender }}</h6>
                <h4>{{ email.subject }}</h4>
                <p>{{ email.timestamp }}</p>
                <form action="email" method="post">
                    <input type="hidden" name="emailId" value="{{ email.id }}">
                    <input type="submit"class="btn btn-primary" value="View Email">

                </form>
            </div>
            {% endfor %}
        </div>
{% endblock %}
